 {% if messages %}
    {% for message in messages %}
  <div id="messege" class="container">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
    </div>
  </div>
    {% endfor %}
{% endif %}

 <script>
$(function () {
    setTimeout(function () {
        $('#messege').fadeOut(800);
    }, 4000);
});
</script>
