
{% extends 'base.html'%}
{% load static %}
{% block content%}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<!--<div class="intro-banner-wrap">-->
<!--	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">-->
<!--</div>-->

<div id="carouselExample"
     class="carousel slide carousel-fade"
     data-bs-ride="carousel"
     data-bs-interval="3000">

  <div class="carousel-inner">
    {% for eachBanner in banners %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{ eachBanner.image.url }}"
           class="d-block w-100 img-fluid rounded"
           style="height:400px; object-fit:cover;">
    </div>
    {% endfor %}
  </div>

</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->


<div class="row">
	{% for eachProduct in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ eachProduct.get_url }}" class="img-wrap"> <img src="{{ eachProduct.image.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ eachProduct.get_url }}" class="title">{{eachProduct.product_name}}</a>
				<div class="price mt-1">${{eachProduct.price}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div>
	{% endfor %}
	<!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

</body>
</html>
{% endblock %}